<h1>Wybrane elementy programowania</h1>

# Typy danych i zmienne

## Integers typ int i tworzenie zmiennych
(Int) Liczby całkowite 1, 10, -10

In [ ]:
# to jest komentarz - tego komputer nie interpretuje

my_number = 10 # tworzymy zmienną
print(my_number)
2+2
wynik = my_number + my_number
wynik
wynik = my_number + wynik
wynik = my_number + wynik
wynik = wynik *10
wynik # ostatni wynik też zwróci mimo, że nie ma print

In [ ]:
# Zmienne są niemutowalne
# przypomnij sobie co rysowałem na tablicy
a = 2
b = a
print(id(a))
print(id(b))
a = a + 1
print(a, b)
print(id(a))
print(id(b))

## Floating point typ float
<br>
(liczby zmienno-przecinkowe)
Np. 1.2, 34.5, -3.2

In [ ]:
print(3.2 / 3.4)
my_float = 3.3
print(type(my_float))
print(my_float)

## Strings typ str - 3


Ciągi znaków -
Uporządkowana sekwencja symboli <br>

'Hello World' "2021"

INDEXY<br>
A    n    a    k    o    n    d    a<br>
0    1    2    3    4    5    6    7<br>
-8  -7   -6   -5   -4   -3   -2   -1

In [ ]:
word = "Anakonda"
word[0] # indeksy podajemy w nawiasach kwadratowych

In [ ]:
word[-8]

In [ ]:
len(word)

In [ ]:
imię = 'arek'
nazwisko = 'kolodziej'

In [ ]:
#konkatenacja (łączenie)
osoba = imię + ' ' + nazwisko
osoba

### Użycie wartości zmiennej w stringu

In [ ]:
imię = "XXX"
nazwisko = "YYY"
prowadzący = f'Imię: {imię} \nNazwisko: {nazwisko}'
print(prowadzący)

## 8. Booleans typ bool
wartości logiczne: True i False

In [ ]:
a = True
b = False
a != b # a jest inne niż b

True

## 4. Lists typ list - 4
Uporządkowana sekwencja obiektów <br>
['arek', 10, "10", 10.01, "darek"]

In [ ]:
list1 = [1,2.2,'arek',3,7]
#nie używamy samego słowa list jako nazwy listy
print(len(list1))
print(list1[-1])
#wycinanie działa tak jak na stringach
list1[1:3]

In [ ]:
a = ['arek','b','c','s',3.3,3]
#nowa lista - arek ma index 0
print(type(a))
#zmiana elementu/ zastąpienie elementu
a[0]='darek'
print(a)
#wybór elementu
print(a[0])
print(a[-1])
print(a[1:3]) #do trzeciego bez trzeciego
print(a[2:-1]) #do ostatniego ale bez ostatniego

In [ ]:
a.append('zenek') #dodaje na koniec listy
a

# Operatory

## Podstawowe operatory arytmetyczne

In [ ]:
print(2 + 2)
print(2 - 2)
print(2 / 2)
print(2 * 2)
print(2 ** 3) # potęga

## Podstawowe operatory logiczne

In [ ]:
a = 'arek'
b = 'marek'
print(a == b and 2 != 3)
print(a == b or 2 != 3)
print(not(2 != 3))

## Operatory porównania

In [ ]:
print(3 == 3) # czy 3 to 3?
print(3 != 3)
print(3 <= 3)
print(3 > 3)

# Instrukcja warunkowa if

In [ ]:
name = 'arek1'
if name == "arek": # czy tu jest True?
  print("zapraszamy") # jeśli tak to wykona się ta linijka
else: # jeśli nie
  print('do widzenia') # to wykona się ta
# zwróć uwagę na wcięcia linii

In [ ]:
a = False
if a:
  print('prawda')
elif not a:
  print('fałsz')
else:
  print("fałsz2")
print(type(a))

In [ ]:
a = 20
b = 30
c = 30
if a > b or b == c:
  print(a)
else:
  print('to nie działa')

# Pętla for

In [ ]:
lista = [1,2,3,"cztery",5,6,7]
for element in lista: # dla każdego elementu z listy
  print(element) # wydrukuj element

In [ ]:
numbers = [1,2,3,4,5,6,7]
for i in numbers:
  if i > 5:
    print(i)

In [ ]:
for letter in 'socjologia jest fajna':
  if letter == 'g':
    break # przerwij
  print(letter)

In [ ]:
numbers =[1,2,3,4,5,6,8,10,12]
for i in numbers:
  if i == 8:
    continue # pomiń
  else:
    print(i)

## Pętla while
dopóki spełniony jest warunek

In [ ]:
n = 5
e = 2
while e <= n:
  print(e)
  e = e + 1

In [ ]:
liczba = 1
while liczba <= 5:
  i = 1
  while i <= 5:
    wynik = liczba * i
    print(liczba, 'x', i, '=', wynik)
    i = i+1
  liczba += 1

# Funkcje
dzielą kod na użyteczne części <br>
Cżęść funkcji już jest wbudowanych a częściowo musimy sami zdefiniować

In [ ]:
def drukowanie():
    print('Hej') # definiujemy funkcję

drukowanie() # wywołujemy funkcję

print(2+3)

drukowanie() # wywołujemy funkcję bez argumentu drugi raz

In [ ]:
def dodawanie(a,b):
  suma = a+b
  return suma

c = dodawanie(2,3)
print(f'to jest {c}')

In [ ]:
def emoji(unicode):
  return(unicode)
c = emoji("\U0001F60E")
print(f'Koniec {c}')